body {
  font-family: sans-serif;
  padding: 0 4rem;
}
@media (max-width: 768px) {
  body {
    padding: 0 1rem;
  }
}

blockquote {
  font-style: normal;
  margin: 1rem 2rem;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

table {
  border-collapse: collapse;
}
table,
table td,
table th {
  border: 1px solid darkgrey;
  padding: 0.5rem;
}
