* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}
table, table td, table th {
  border: 1px solid darkgrey;
  padding: 0.5rem;
}