body {
  font-family: sans-serif;
  padding: 0 4rem;
}
@media (max-width: 768px) {
  body {
    padding: 0;
  }
}

table {
  border-collapse: collapse;
}
table,
table td,
table th {
  border: 1px solid darkgrey;
  padding: 0.5rem;
}
